<header class = 'messageHeader'>
    <div class = 'messageHeader__userData'>
        <div class = 'messageHeader__avatarContainer'>
            <img class = 'messageHeader__avatar' src="https://st.depositphotos.com/57803962/56466/v/450/depositphotos_564669416-stock-illustration-avatar-web-icon-simple-illustration.jpg" alt="">
        </div>
        <span class = 'messageHeader__name'>SomeName</span>
    </div>
    <div class= = 'messageHeader__options'>...</div>
</header>