<div class = 'userMessage'>
    <div class = 'userMessage__container'>
        <span class = 'userMessage__text'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia aliquid veniam dolorum similique placeat, commodi vero reprehenderit, non ut quos sapiente perspiciatis dolor? Impedit fugit excepturi eaque nihil consequatur in non, id veritatis fugiat eius blanditiis sequi sit temporibus officiis eum dicta repudiandae modi? Accusamus id voluptatibus veritatis ab corporis beatae doloremque temporibus provident voluptas amet fugit sit harum, ea natus, eum dignissimos? Exercitationem optio corporis excepturi voluptatum deserunt accusamus, aut natus quo praesentium autem. Excepturi minima repellendus eligendi, ut nesciunt labore debitis. Atque dignissimos enim, autem sunt illum amet. Dolorem nulla iusto iste quibusdam veritatis enim quia sunt esse.</span>
        <span class = 'userMessage__date'>10:49</span>
    </div>
    
</div>