<form class='messageForm'>
    <input class='messageForm__input' name='message' type='text' placeholder='Сообщение'>
    <button class='messageForm__button'>
        <img class='messageForm__img' src='../../public/img/vector.png'
            alt='>'>
    </button>

</form>