{{!< chatList}}


<div class="home">
  <div class="home__container">
    <h1 class="home__header">Выберите чат чтобы отправить сообщение</h1>
    <a href="./404.hbs">Ошибка 404</a>
    <a href="./500.hbs">Ошибка 500</a>
  </div>
</div>