{{!< authorizationBase}}
<div class='signin'>
    <h2 class='signin__header'>Вход</h2>
    <form class='profileSettings__form'>
        <div class="signin__container">
            <span class="signin__fieldName">Логин</span>
            <input type='text' value='ivandestroyer' name='login'  class='signin__field' />
        </div>
        <div class="signin__container">
            <span class="signin__fieldName">Пароль</span>
            <input type='password' value='password123' name='password'  class='signin__field' />
        </div>
        {{>button/button buttonText="Вход" buttonName="Enter"}}
    </form>
    <a class='signin__link' href='./signin.hbs'>Нет аккаунта?</a>

</div>