{{!< chatList}} 
<div class="messagePage">
    {{> messageHeader/messageHeader}}
    <div class='messagePage__messages'>
        {{> message/message}}
        {{>userMessage/userMessage}}
    </div>
    {{>messageForm/messageForm}}
</div>