{{!< profileBase}}
<div class='profilePassword'>
    {{>profileAvatar/profileAvatar}}
    <form class='profilePassword__form'>
        <div class='profilePassword__wrapper'>
            <span class='profilePassword__property'>Старый пароль</span>
            <input type='password' value='oldPassword111' name='oldPassword'  class='profilePassword__input' />
        </div>
        <div class='profilePassword__wrapper'>
            <span class='profilePassword__property'>Новый пароль</span>
            <input type='password' value='newPassword12345' name='newPassword'  class='profilePassword__input' />
        </div>
        <div class='profilePassword__wrapper'>
            <span class='profilePassword__property'>Повторите новый пароль</span>
            <input type='password' value='newPassword12345' name='confirmPassword'  class='profilePassword__input' />
        </div>
        {{>button/button buttonText="Сохранить" buttonName="save"}}
    </form>
</div>