{{!< authorizationBase}}
<div class='signin'>
    <h2 class='signin__header'>Регистрация</h2>
    <form class='profileSettings__form'>
        <div class="signin__container">
            <span class="signin__fieldName">Почта</span>
            <input type='text' value='pochta@pochta.ru' name='email'  class='signin__field' />
        </div>
        <div class="signin__container">
            <span class="signin__fieldName">Логин</span>
            <input type='text' value='ivandestroyer' name='login'  class='signin__field' />
        </div>
        <div class="signin__container">
            <span class="signin__fieldName">Имя</span>
            <input type='text' value='Иван' name='first_name'  class='signin__field' />
        </div>
        <div class="signin__container">
            <span class="signin__fieldName">Фамилия</span>
            <input type='text' value='Иванов' name='second_name'  class='signin__field' />
        </div>
        <div class="signin__container">
            <span class="signin__fieldName">Телефон</span>
            <input type='text' value='+7 (909) 967 30 30' name='phone'  class='signin__field' />
        </div>
        <div class="signin__container">
            <span class="signin__fieldName">Пароль</span>
            <input type='password' value='password123' name='password'  class='signin__field' />
        </div>
        <div class="signin__container">
            <span class="signin__fieldName">Пароль (еще раз)</span>
            <input type='password' value='password123' name='confirmPassword'  class='signin__field' />
        </div>
        {{>button/button buttonName="Register" buttonText="Зарегистрироваться"}}
    </form>
    <a class='signin__link' href='./login.hbs'>Войти</a>

</div>