main{
    display: flex;
    align-items: center;
    flex-direction: column;   
}
.errorNumber{
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.errorStatus{
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 70px;
    text-align: center;
}
.errorLink{
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
    color: #3369f3;
}