main{
    display: flex;
    flex-direction: row;
}
.sideBar{
    width: 64px;
    height: 100vh;
    background-color: #fbfbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    &__chatLink{
        background-color: #3369f3;
        height: 28px;
        width: 28px;
        border-radius: 50px;
        display: block;
        position: relative;
    }
    &__img{
        position: absolute;
        bottom: 8px;
        left:9px
    }
}
.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__name {
        font-weight: 800;
        font-size: 16px;
        line-height: 16px;
        margin:0 0 40px 0;
    }

    &__property {
        font-weight: 700;
        font-size: 13px;
        line-height: 13px;
    }

    &__value {
        font-weight: 600;
        font-size: 13px;
        line-height: 13px;
        color:#999999;
    }

    &__wrapper {
        width: 510px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding:0 0 10px 0;
        margin:0 0 10px 0;
        border-bottom: 1px solid #eaeaea;
        &:last-of-type{
            border-bottom:none;
        }
    }
    &__settingLink{
        width: 510px;
        padding: 0 0 10px 0;
        margin:0 0 10px 0;
        border-bottom: 1px solid #eaeaea;
        color:#3369f3;
        font-weight: 700;
        font-size: 13px;
        line-height: 13px;
    }
    &__logoutLink{
        width: 510px;
        color:#ff0000;
        font-weight: 700;
        font-size: 13px;
        line-height: 13px;
    }
    &__settings{
        margin:30px 0 0 0;
        display: flex;
        flex-direction: column;
    }
}
.profileAvatar{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #3369f3;
    margin:20px 0 20px 0;
    position: relative;
    &__img {
        position: absolute;
        bottom: -13px;
        width: 133px;
    }
}
@mixin settingPages{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__wrapper {
        width: 510px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding:0 0 10px 0;
        margin:0 0 10px 0;
        border-bottom: 1px solid #eaeaea;
        &:last-of-type{
            border-bottom:none;
            margin:0 0 71px 0;
        }
    }
    &__property {
        font-weight: 700;
        font-size: 13px;
        line-height: 13px;
    }
    &__input{
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        color:#999999;
        background-color: transparent;
        text-align: right;
        border: none;
        &:focus {
            outline: none;
        }
    }
}
.profileSettings{
    @include settingPages;
    &__avatar{
        color:#3369f3;
        font-weight: 800;
        font-size: 16px;
        line-height: 16px;
        &:hover{
            color:red
        }
    }
    &__changeAvatar{
        position: absolute;
        z-index: -2;
        visibility: hidden;
    }
    &__label{
        width: 130px;
        margin:0 0 20px 0;
    }
}

.profilePassword{
    @include settingPages
}